@import "../../foundation/mixin";

.u-pc-br {
  display: block;
}

.u-sp-br {
  display: none;
}

@include mq(sp) {
  .u-pc-br {
    display: none;
  }

  .u-sp-br {
    display: block;
  }
}

@include mq(tab-s) {
  .u-tab-s-non-br {
    display: none;
  }
}

@include mq(tab) {
  .u-tab-non-br {
    display: none;
  }
}
