@import "../../foundation/mixin";
@import "../../foundation/variable";

.p-company-info {
  width: 100%;
  background-color: $color-gray-light;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title-container {
    display: flex;
    justify-content: end;
  }

  &__title {
    h1 {
      color: $color-base;
      -webkit-text-stroke: 0.5px $color-black;
    }

    h2 {
      color: $color-base;
      -webkit-text-stroke: 0.5px $color-black;
    }
  }

  &__table {
    width: 100%;
  }

  &__row {
    th,
    td {
      font-size: 1.6rem;
      padding: 12px 40px;
      letter-spacing: 0.2rem;
    }
  }

  &__heading {
    width: 25%;
    border-bottom: 2px solid $color-black;
  }

  &__detail {
    width: 75%;
    border-bottom: 2px solid #a3a2a2;
  }

  @include mq(sp) {
    .p-company-info {
      height: auto;
    }

    &__row {
      th,
      td {
        font-size: 1.4rem;
        padding: 12px 10px;
        letter-spacing: 0;
      }
    }

    &__heading {
      width: 30%;
    }

    &__detail {
      width: 70%;
      font-weight: bold;
    }
  }
}

@include mq(sp) {
  .p-company-info {
    height: auto;

    &__title-container {
      justify-content: start;
      text-align: end;
    }
  }
}
