@import "../../foundation/mixin";

.p-contact {
  width: 100%;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  &__title-container {
    display: flex;
    text-align: end;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  &__anchor {
    border: solid 3px #333;
    padding: 10px 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.7;
  }

  @include mq(sp) {
    &__content {
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }

    &__anchor {
      font-size: 1.8rem;
      font-weight: bold;
      padding: 10px 30px;
    }
  }
}
