@import "../../foundation/mixin";

.p-concept {
  width: 100%;
  background-image: url("../img/section_background.jpg");
  background-size: cover;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title-container {
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 35px;
  }

  &__title {
    h1 {
      font-size: clamp(5.5rem, 10vw, 16rem);
      letter-spacing: 1.2rem;
      line-height: 1;
      color: #fff;
    }

    h2 {
      font-size: clamp(1.4rem, 10vw, 3.8rem);
      color: #fff;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;

    h3 {
      font-size: 4.6rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2;
    }
  }

  @include mq(sp) {
    &__title-container {
      justify-content: start;
      text-align: end;
    }

    &__content {
      gap: 30px;

      h3 {
        margin: 0;
        font-size: 2rem;
      }

      p {
        width: 100%;
        margin: 0;
        font-size: 1.2rem;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }
}
