@import "../../foundation/mixin";

.p-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__image {
    max-width: 560px;
    // width: clamp(280px, 10vw, 400px);
    display: block;
  }

  &__company-name {
    font-size: 2.4rem;
    padding-bottom: 10px;
  }

  &__title {
    font-size: 5.2rem;
    line-height: 1.8;
  }

  @include mq(sp) {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }

    &__company-name {
      font-size: 1.8rem;
      padding-bottom: 0;
      margin: 0;
    }

    &__image {
      max-width: 230px;
    }

    &__title {
      font-size: 2.8rem;
      margin: 0;
    }
  }

  // @include mq(tab) {
  //   &__title {
  //     font-size: 3.2rem;
  //     margin: 0;
  //   }
  // }
}
