@import "../../foundation/mixin";

.p-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__image {
    max-width: 560px;
    display: block;
    opacity: 0; /* 初期状態は完全に透明 */
    animation: fadeIn 6s 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  &__company-name {
    font-size: 2.4rem;
    padding-bottom: 10px;
    opacity: 0; /* 初期状態は完全に透明 */
    animation: fadeInText 5s 2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  &__title {
    font-size: 5.2rem;
    line-height: 1.8;
    opacity: 0; /* 初期状態は完全に透明 */
    animation: fadeInText 5s 3s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  @include mq(sp) {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }

    &__company-name {
      font-size: 1.8rem;
      padding-bottom: 0;
      margin: 0;
    }

    &__image {
      max-width: 230px;
    }

    &__title {
      font-size: 2.8rem;
      margin: 0;
    }
  }
}

/* 画像のフェードインアニメーション */
@keyframes fadeIn {
  to {
    opacity: 1; /* 最終的な透明度は1 */
    transform: scale(1.05); /* わずかに拡大 */
  }
}

/* テキストのフェードインアニメーション */
@keyframes fadeInText {
  to {
    opacity: 1; /* 最終的な透明度は1 */
  }
}
