@import "../../foundation/mixin";

.p-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
  }

  &__image {
    width: 400px;
    display: block;
  }

  &__company-name {
    font-size: 2.4rem;
    padding-bottom: 10px;
  }

  &__title {
    font-size: 5.2rem;
    line-height: 1.8;
  }

  @include mq(sp) {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__company-name {
      font-size: 1.8rem;
      padding-bottom: 0;
      margin: 0;
    }

    &__title {
      font-size: 2.8rem;
      margin: 0;
    }
  }
}
