@import "../../foundation/mixin";

.p-service {
  width: 100%;
  margin-bottom: 60px;

  &__container {
    max-width: 1200px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title-container {
    display: flex;
    text-align: end;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__item-container {
    background-color: #f5f5f5;
    width: 350px;
    padding: 25px 20px;
  }

  &__image {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
  }

  &__description {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 2;
      letter-spacing: 0.2rem;
      font-weight: bold;
    }
  }

  &__description-title {
    font-size: 2rem;

    span {
      font-size: 3.2rem;
      border-bottom: 2px solid #000;
      margin-right: 10px;
    }
  }

  @include mq(sp) {
    &__container {
      padding-top: 0;
      padding-right: 30px;
      padding-left: 30px;
    }
    &__content {
      flex-direction: column;
      gap: 30px;
    }

    &__item-container {
      max-width: 100%;
    }
  }

  @include mq(tab-s) {
    &__item-container {
      width: 70%;
      padding: 25px 20px;
    }

    &__content {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    &__image {
      height: 300px;
    }

    &__description {
      padding-top: 15px;
      gap: 15px;

      h3 {
        font-size: 2.8rem;
      }

      p {
        font-size: 2.2rem;
        line-height: 2;
        letter-spacing: 0.2rem;
        font-weight: bold;
      }
    }

    &__description-title {
      font-size: 2rem;

      span {
        font-size: 3.2rem;
        margin-right: 10px;
      }
    }
  }

  @include mq(tab) {
    &__item-container {
      width: 300px;
    }

    &__description {
      h3 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    &__description-title {
      font-size: 2rem;

      span {
        font-size: 2.6rem;
      }
    }
  }
}
