@import "../../foundation/mixin";
@import "../../foundation/variable";

.p-works {
  width: 100%;
  background-image: url("../img/section_background.jpg");
  background-size: cover;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 60px;
  }

  &__title-container {
    display: flex;
    justify-content: end;
  }

  &__title {
    h1 {
      color: $color-base;
      -webkit-text-stroke: 0.5px #000;
    }

    h2 {
      -webkit-text-stroke: 0.5px #000;
      color: $color-base;
    }
  }

  &__content {
    width: 100%;
    padding: 0 30px;
    margin-inline: auto;
    position: relative;
  }

  &__item {
    text-align: center;

    p {
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: 1.4rem;
      line-height: 2;
    }
  }

  &__item-heading {
    background-color: #6a6a6a;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.6rem;
      line-height: 1.4;
      color: $color-base;
    }
  }

  @include mq(sp) {
    &__title-container {
      justify-content: start;
      text-align: end;
    }

    &__item {
      p {
        padding-top: 15px;
        padding-bottom: 8px;
        font-size: 0.6rem;
        line-height: 2;
      }
    }

    &__item-heading {
      height: 35px;
      h3 {
        font-size: 0.8rem;
        line-height: 1.4;
        color: $color-base;
      }
    }
  }
}

// スライドショーのスタイル
.swiper {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.swiper-wrapper {
  height: 200px !important;
}

.swiper-slide {
  padding: 10px;
  background-color: white;
  height: 100%;
  flex-grow: 1;
}

.swiper-pagination-bullets {
  width: 100px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: $color-base;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    font-size: 3.2rem !important;
  }
}
/* ページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px !important;
}

@include mq(sp) {
  .swiper {
    height: auto;
    z-index: 0 !important;
  }

  .swiper-wrapper {
    height: 100px !important;
  }

  .swiper-slide {
    padding: 8px;
  }

  .swiper-pagination-bullets {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 2.6rem !important;
    }
  }

  .swiper-button-prev {
    left: -0.3rem !important;
  }

  .swiper-button-next {
    right: -0.3rem !important;
  }
}
