@import "../foundation/mixin";
@import "../foundation/variable";

.l-footer {
  width: 100%;
  background-color: $color-black;

  &__content {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    color: $color-base;
    font-size: 1.4rem;

    a {
      color: $color-base;
    }
  }

  &__x-logo {
    position: absolute;
    right: -12rem;
    bottom: 30px;
  }

  &__logo-image {
    width: 8.5rem;
  }

  @include mq(sp) {
    &__content {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    &__nav {
      display: none;
    }

    &__lists {
      :first-child {
        font-size: 1.6rem;
      }
    }

    &__list {
      font-size: 1rem;
    }

    &__x-logo {
      position: absolute;
      right: -4rem;
      bottom: 19px;

      a {
        font-size: 1rem;
      }
    }

    &__logo-image {
      width: 4.5rem;
    }
  }
}
