@import "../foundation/variable";

.l-header {
  width: 100%;
  // TODO: 相談
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $transparent-white;
  z-index: 1;

  &__nav {
    width: 100%;
    // display: flex;
    // justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    a {
      font-weight: bold;
    }
  }

  &__divider {
    height: 24px;
    width: 3px;
    background-color: #000;
  }
}
